.m-socials {
  display: none;
}

#anketa {
    overflow: hidden;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


div.respondent {
  position: relative;
  float: left;
  width: 135px;
  height: 185px;
  padding: 0px 5px 0px 5px;
  margin: 5px 5px 5px 5px;
  border-bottom: thin dotted lightgrey;
}

.vybrany {
  background-color: #F0F0F0;
}

.neodpovedel.vybrany {
  background-color: #FFFFFF;
}

p.jmeno {
  color: black;
  text-align: center;
  margin-bottom: 3px;
  font-size: 80%;
}

p.veta {
  font-size: 90%;
  color: white;
  background-color: black;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 135px;

}

img.portret {
  width: 100px;
  height: 100px;
  display: block;
  margin-top:3px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}

div.cedulka {
  width: 135px;
  text-align: center;
  font-size: 63%;
  margin: 0px 0px 0px -5px;
  padding: 5px 0px 2px 0px;
  z-index: 10;
  position: absolute;
  bottom: 0px;
}

.white-popup {
  position: relative;
  background: #FFF;
  padding: 20px;
  width:auto;
  max-width: 500px;
  margin: 20px auto;
}